/* COURSE SELECT FORM */
#course-select-form {
    background-color: rgb(196, 219, 255);
    display: flex;
    padding: 12px;
    gap: 24px;
    display: flex;
    align-items: center;
}

#course-select-form > label {
    display: flex;
    gap: 12px;
    align-items: center;
}

#course-select-form > input {
    padding: 6px 16px;
    background-color: rgb(57, 197, 197);
    color: white;
}

#faculty-selector {
    /* background-color: rgb(247, 132, 112); */
    padding: 6px 12px;
    cursor: pointer;
    display: inline-block;
    border: 2px #5f54ff solid;
    text-align: center;
}

#course-selector {
    padding: 6px 12px;
    background-color: rgb(92, 176, 176);
    display: inline-block;
    color: #fff;
    border: none;
    margin-right: 4px;
    word-wrap: normal;
    width: 300px;
    /* text-align: center; */
}

#course-selector > :nth-child(n).selected {
    background-color: rgb(80, 197, 113);
}


/* COURSE PRECISE SELECT FORM */
.course-item {
    position: relative;
    min-width: 60%;
    background-color: rgb(194, 215, 255);
    margin-bottom: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.course-item:hover {
    background-color: rgba(149, 246, 255, 0.379);
}

.course-item > .course-ext-info {
    display: flex;
    gap: 36px;
}

.course-item > .course-status {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background-color: rgb(152, 154, 255);
    padding: 8px;
}

/* CLASS FORM */
.class-item {
    background-color: rgb(170, 241, 170);
    margin: 4px;
    position: relative;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    width: 72%;
    gap: 12px;
    justify-content: space-between;
    border-radius: 12px;
}

.class-item:hover {
    background-color: rgb(187, 253, 187);
}

.class-item > .class-designation {
    flex: 0.25;
    flex-grow: 10px;
}

.class-item > .class-info {
    background-color: rgb(224, 255, 224);

    flex: 12;
    padding: 8px;

}

.class-item > .class-info p {
    padding: 0;
    margin: 0;
    padding-top: 8px;

}

.class-item > .class-info > .righty,
.class-item > .class-info > .lefty {
    float: right;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.class-item > .class-info > .lefty {
    float: left;
    text-align: left;
}

.class-displayer > input {
    padding: 6px 16px;
    background-color: rgb(57, 197, 197);
    color: white;
}