@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}



/* CUSTOM */
.hidden {
	display: none;
}





#main-container {
	background-color: brown;
	padding: 36px;
	display: block;
	height: 100vh;
} 

header {
	display: flex;
	flex-direction: row;
	flex-wrap: none;
	gap: 16px;
	justify-content: space-between;
}

header > :nth-child(n) {
	flex: 1;
	background-color: rgb(183, 183, 254);
	display: flex;
	align-items: flex-end;
	/* height: 50px; */
	justify-content: center;
	padding: 8px;
}

header > .home-link > a {
	text-decoration: none;
}

header > .banner-container {
	flex: 3;
	background-color: coral;
}

header > .auth-action {
	justify-content: space-around;

}

header > .auth-action > p {
	cursor: pointer;
	margin: auto;
}


.notYet {
	cursor: pointer;
	position: relative;
}

.notYet::after {
	content: "This feature is unavailable at the moment.";
	position: absolute;
	top: 120%;
	width: 240px;
    left: 40%;
	display: none;
	color: #fff;
	padding: 12px;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 10;
}

.notYet:hover:after {
	display: block;
}

#main-container {
	display: flex;
	flex-direction: row;
	background-color: darksalmon;
}

.side-bar {
	position: relative;
	background-color: beige;
	padding: 12px;
}

.side-bar > .title {
	margin: 8px auto;
	text-align: center;
}

.side-bar > .btn-option {
	background-color: rgb(255, 167, 51);
	color: #fff;
	border: 0.5px solid #00000080;
	margin: 4px auto;
	padding: 8px 16px;
	width: 100%;
}

.display-section {
	background-color: #f2f2f2;
	padding: 36px;
}

.displayer {
	background-color: #d0d0d0;

}

.displayer.active {
	background-color: #6579fb;
	color: #f6fbff;
}


