@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');
@import url("./course-display.css");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

/* CUSTOM */
.hidden {
	display: none;
}

#main-container {
	/* background-color: brown; */
	padding: 36px;
	display: block;
	height: 100vh;
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: none;
	gap: 16px;
	justify-content: space-between;
	background-color: rgb(240, 240, 255);
}

header> :nth-child(n) {
	flex: 1;
	/* background-color: rgb(240, 240, 255); */
	display: flex;
	align-items: flex-end;
	/* height: 50px; */
	justify-content: center;
	padding: 8px;
}

header>.home-link {
	display: flex;
	align-items: center;
	flex-direction: column;
}

header>.home-link>a {
	text-decoration: none;
	align-self: center;
}

header>.banner-container {
	flex: 3;
	/* background-color: coral; */
	background-color: rgb(160, 160, 255);
	display: flex;
	align-items: center;

}

header>.auth-action {
	justify-content: space-around;

}

header>.auth-action>p {
	cursor: pointer;
	margin: auto;
}


.notYet {
	cursor: pointer;
	position: relative;
}

.notYet::after {
	content: "This feature is unavailable at the moment.";
	position: absolute;
	top: 120%;
	width: 240px;
	left: 40%;
	display: none;
	color: #fff;
	padding: 12px;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 10;
}

.notYet:hover:after {
	display: block;
}

#main-container {
	display: flex;
	flex-direction: row;
	background-color: rgb(245, 245, 245);
}

.side-bar {
	position: relative;
	background-color: rgb(230, 230, 255);
	padding: 12px;
	border-radius: 4px;
}

.side-bar>.title {
	margin: 8px auto;
	text-align: center;
}

.side-bar>.btn-option {
	background-color: rgb(140, 212, 253);
	color: #fff;
	border: 0.5px solid #00000080;
	margin: 4px auto;
	padding: 8px 16px;
	width: 100%;
}

.display-section {
	background-color: #f2f2f2;
	padding: 0px 36px;
}

.displayer {
	background-color: #f8f8f8;
	padding: 20px;
	border-radius: 16px;

}

.displayer.active {
	/* background-color: #6579fb; */
	/* color: #f6fbff; */
}

.course-info-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 16px;
}

.course-info-item {
	background-color: rgb(255, 244, 233);
	padding: 12px;
	width: 40%;
}

.course-info-item:hover {
	background-color: rgb(252, 213, 174);
	cursor: pointer;
}

.modal {}